body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: orange;

    height: 75px;
    width: 100%;
    position: fixed;
    
     
}

header > div {
    display: flex;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 2rem;
    color: maroon;
}
nav > a {
    margin-right: .7rem;
    font-size: 2rem;
    color: maroon;
}

/* END OF HEADER */

main {
    min-height: 95vh;
    min-width: 80vw;
    background-color: gray;
 
}

aside {
    min-height: 95vh;
    min-width: 10vw;
    background-color: maroon;
}

body {
    display: flex;
    flex-direction: column;
  
    align-items: center;
}

body>div {
    display: flex;
    padding-top: 75px;
}

img {
    display: flex;
    width: 450px;
    float: right;
}

h2 {
    display: flex;
    font-size: 50px;
    padding-left: 3rem;
    color: rgb(31, 2, 2);
}

p {
    display: flex;
    font-size: 25px;
}

p1 {
     
    font-size: 35px;
     color: antiquewhite;
}

main>div {
    display: flex;
     

}

/* FOOTER */
footer {
    width: 100vw;
    background-color: orange;
    height: 10vh;
     
}