body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color:#CC5500;

    height: 75px;
    width: 100%;
    position: fixed;
    
     
}

header > div {
    display: flex;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 2rem;
    color: maroon;
}
nav > a {
    margin-right: .7rem;
    font-size: 2rem;
    color: maroon;
    background-color: rgb(17, 14, 14);
    border-radius: 5px;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgb(31, 14, 14), 0 0 1em;
    padding: 0.25rem;
}
#page-on {
    background-color: antiquewhite;
    
}
a:hover {
    background-color: antiquewhite;
    transition: all 0.5s ease-out;
}

/* END OF HEADER */

main {
    display: block;
    min-height: 85vh;
    min-width: 80vw;
    background-color: gray;
    justify-content: space-between;
    flex-wrap: wrap;
}

aside {
    min-height: 85vh;
    width: 10vw;
    background-color: maroon;
}

body {
     
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

body>div {
    display: flex;
    padding-top: 75px;
    font-size: 30px;
     
}

h2 {
     
    font-size: 50px;
    padding-left: 3rem;
    color: rgb(31, 2, 2);
    height: 200px;
     
}

p {
    display: block;
    font-size: 25px;
    max-width: 50vw;
    align-items: center;
    padding: 0 0 0 5vw;
}

p1 {
      
    font-size: 35px;
     color: antiquewhite;
    align-items: flex-end;
    width: 40rem;
    margin: 20vh;
     
}

img {
     
    width: 450px;
     
    float: right;
     
}

main>div {
    display:  flex; 
}

.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#contact-header {
   font-size: 50px; 
}
  
.label {
    margin-top: 2rem;
}

.input {
    width: 40em;
    height: 2.5em;
}
.message {
    height: 7.5em;
}

/* SUCCESS PAGE */
.success-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* SUCCESS PAGE */

/* FOOTER */
footer {
    width: 100vw;
    background-color: #CC5500;
    height: 10vh; 
}
/* FOOTER */
 

@media screen and (max-width: 550px){
    h1 {
        font-size: 1.25rem;
    }
    nav > a {
        font-size: 0.75rem;
        
    }
     
}
@media screen and (max-width: 675px){
    nav > a {
        margin-right: .7rem;
        font-size: 1.25rem;
    }
}
@media screen and (max-width: 600px){
    main {
        min-width: 100vw !important;
    }
    aside {
        width: 0px !important;
    }
     
    p {
        line-height: 39px !important;
     }
    img {
        width: 200px !important;
    }
    h2 {
        padding-left: 0rem;
    }
    
    p {
        padding: 0 0 0 0;
    }
    
    p1 {
        margin: 0;
         
    }
     
}

@media screen and (max-width: 1000px) and (min-width: 600px){
    p {
        line-height: 39px !important;
     }
    img {
        width: 275px !important;
    }
    h2 {
        padding-left: 0rem;
    }
     
    p1 {
        margin: 0;
         
    }
}

@media screen and (max-width: 1500px) and (min-width: 1000px){
    p {
        line-height: 39px !important;
     }
    img {
        width: 275px !important;
    }
     
     
     
}

@media screen and (max-width: 425px){
    main {
        display: flex !important;
        flex-wrap: wrap; 
    }
    h2 {
        height: 11vh;
        margin: 0; 
    }
    p1 {
        width: fit-content;
    }
    
}

@media screen and (max-width: 1065px){
    .input {
        width: 50vw;
    }
}

@media screen and (max-width: 1000px){
    h2 {
        height: 17vh;
        margin-bottom: 
    }
}

@media screen and (max-width: 750px){
    main {
        min-width: 100vw !important;
    }
    aside {
        width: 0px !important;
    }
}